# Abaikan SEMUA file
*

# Tetapi jangan abaikan file .gitignore itu sendiri
!.gitignore

# Jangan abaikan semua file .ipynb
!catmdedit.ipynb

# Jangan abaikan README.md (case sensitive)
!README.md


# Jangan abaikan file template XML
!Template - metadata.xml

# Jangan abaikan file Excel list peta
!list peta.xlsx